* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background-color: darkblue;
    padding: 0.1rem;
}

.center-box {
    background-color: white;
    max-width: 620px;
    height: 530px;
    border-radius: 8px;
    margin: 100px auto;
    padding: 30px;
}

.center-box h1 { 
    border-bottom: 2px solid darkblue;
    padding-bottom: 20px;
    color: black;
}

#position {
    float: right;
}

#timer {
    display: flex;
    justify-content: right;
    background: ghostwhite;
    width: 7.5em;
    border-radius: 1.8em;
    padding: 0.7em 1.8em;
    align-items: center;
}

#timer img {
    padding-left: 2.6rem;
}

#time-left {
    padding-left: 12px;
}

.center-box em {
    color: darkblue;
    /* color: #CA054D; */
}

.quiz h2 {
    color: rgb(0, 0, 0);
    font-weight: 500;
} 

#butta {
    background-color: transparent;
    width: 100%;
    border: 1px solid #222;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
    transition: all 0.5s;
}

#butta:hover:not([disabled]) {
    background-color: darkblue;
    cursor: cell;
    color: #fff;
}

#butta:disabled {
    cursor: no-drop;
}

#buttb {
    background-color: transparent;
    width: 100%;
    border: 1px solid #222;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
    transition: all 0.5s;
}

#buttb:hover:not([disabled]) {
    background-color: darkblue;
    cursor: cell;
    color: #fff;
} 

#buttb:disabled {
    cursor: no-drop;
}

#buttc {
    background-color: transparent;
    width: 100%;
    border: 1px solid #222;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
    transition: all 0.5s;
}

#buttc:hover:not([disabled]) {
    background-color: darkblue;
    cursor: cell;
    color: #fff;
} 

#buttc:disabled {
    cursor: no-drop;
}

#buttd {
    background-color: transparent;
    width: 100%;
    border: 1px solid #222;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
    transition: all 0.5s;
}

#buttd:hover:not([disabled]) {
    background-color: darkblue;
    cursor: cell;
    color: #fff;
} 

#buttd:disabled {
    cursor: no-drop;
}


.button {
    display: flex;
    justify-content: center;

}

#next {
    background-color: darkblue;
    border-radius: 6%;
    color: #fff;
    padding: 0.6rem 2rem;
    border: 0;
    margin-top: 20px;
    display: none;
}

#next:hover {
    background-color: black;
    cursor: pointer;
}

#back {
    background-color: darkblue;
    border-radius: 6%;
    color: #fff;
    padding: 0.6rem 2rem;
    border: 0;
    margin-top: 20px;
    margin-right: 10px;
    /* display: none; */
}

#back:hover {
    background-color: black;
    cursor: pointer;
}

#restart {
    background-color: #aca1a1;
    border-radius: 20px;
    color: #fff;
    padding: 10px;
    border: 5px;
    margin-top: 250px;
    margin-right: 20px;
}

#restart:hover {
    background-color: black;
    cursor: pointer;
}



@media screen and (min-width: 320px) and (max-width: 380px) {
    body {
        padding: 0.1rem;
    }

    .center-box {
        background-color: white;
        max-width: 620px;
        height: 615px;
        border-radius: 8px;
        margin: 100px auto;
        padding: 30px;
    }
}
    
   